.outer-divs {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}
.cart-container {
    margin-top: 20px;
    width: 80%;
    max-width: 1200px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}
.cart-header, .cart-footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.cart-header {
    font-size: 24px;
}
.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-items {
    padding: 20px;
    max-height: 400px; /* Set the desired max height */
    overflow-y: auto; /* Enable vertical scrolling */
}
.cart-item {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}
.cart-item:last-child {
    border-bottom: none;
}
.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}
.cart-item-details {
    flex: 1;
    margin-left: 20px;
}
.cart-item-title {
    font-size: 18px;
    margin: 0;
}
.cart-item-quantity {
    display: flex;
    align-items: center;
}
.cart-item-quantity button {
    background: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
.cart-item-quantity span {
    margin: 0 10px;
    font-size: 16px;
}
.cart-item-delete {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.cart-total {
    font-size: 18px;
}
.cart-proceed {
    background: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}