 <!-- <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src=" {{ url_for('static', filename=F2.png) }}" alt="">
            <div class="card-body">
              <h3 class="text-center">Flowers for all occasion</h3>
              <p class="text-center">Lorem ipsum dolor sit amet.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h3>AUD $ 25 <span><li class="fa-solid fa-cart-shopping"></li></span></h3>
              <div class="btn1"><button>Add to cart</button></div>
            </div>
          </div>
        </div>

        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src=" {{ url_for('static', filename=ai.png) }}" alt="">
            <div class="card-body">
              <h3 class="text-center">For Home</h3>
              <p class="text-center">Lorem ipsum dolor sit amet.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h3>AUD $10 <span><li class="fa-solid fa-cart-shopping"></li></span></h3>
              <div class="btn2"><button>Add to cart</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src=" {{ url_for('static', filename=laptop2.png) }}" alt="">
            <div class="card-body">
              <h3 class="text-center">Flowers for loved ones</h3>
              <p class="text-center">Lorem ipsum dolor sit amet.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h3>AUD $20 <span><li class="fa-solid fa-cart-shopping"></li></span></h3>
              <div class="btn3"><button>Add to cart</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src=" {{ url_for('static', filename=t1.png) }}" alt="">
            <div class="card-body">
              <h3 class="text-center">Pink Roses</h3>
              <p class="text-center">Lorem ipsum dolor sit amet.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h3>AUD $30 <span><li class="fa-solid fa-cart-shopping"></li></span></h3>
              <div class="btn4"><button>Add to cart</button></div>
            </div>
          </div>
        </div>
      </div> -->

