 {% extends "header.html" %}
 {% block content %}
    <section class="home">
    <div class="content">
      <h1> <span>Make Someone Special</span>
        <br>
        <span id="span2">50%</span> Off
      </h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, saepe.
        <br>Lorem ipsum dolor sit amet consectetur.
      </p>
      <div class="btn"><button>Shop Now</button></div>
    </div>
    <div class="img">
      <img  src="{{ image_urls }}" alt="">        
    </div>
  </section>
  <div class="container" id="product-cards">
      <h1 class="text-center">PRODUCTS</h1>
      
      <div class="row" style="margin-top: 30px;">
        {% if products %}
        {% for x in products %}
        <div class="col-md-3 py-3 py-md-0 mb-4">
          <div class="card">
            <img src=" {{ x.image_uri }}" alt="image" class="image-card">
            <div class="card-body">
              <h3 class="text-center">{{ x.name }}</h3>
              <p class="text-center">{{ x.description }}</p>
              <div class="star text-center">
                {% for _ in range(x.start) %}
                <i class="fa-solid fa-star checked"></i>
              {% endfor %}
              {% for _ in range(5 - x.start) %}
                  <i class="fa-regular fa-star"></i>
              {% endfor %}
              </div>
              <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px;">
                <h3>$ {{ x.price }} <span><li class="fa-solid fa-cart-shopping"></li></span></h3>
                <button class="btn btn-primary" onclick="addToCart('{{ x.id }}', '{{ x.name }}', '{{ x.description }}', '{{ x.price }}', '{{ x.image_uri }}')">Add to cart</button>
              </div>
              </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        
        
    </div>
</div>
<script>
  let cartItems = []
  function addToCart(id, name, description, price, image) {
    // Create an object for the item
    var storedCartItems = localStorage.getItem('cart');
    var cartItems = storedCartItems ? JSON.parse(storedCartItems) : [];
    var item = {
        id: id,
        name: name,
        image: image,
        description: description,
        price: price
    };

    // Push the item object to the cartItems array
    cartItems.push(item);
    localStorage.setItem('cart', JSON.stringify(cartItems));
    console.log(localStorage.getItem('cart'));
}
</script>
{% endblock %}
